body, html { overflow-x:hidden !important; scroll-behavior: smooth;}

.ui {
    font-family: 'EB Garamond', serif !important;
}

.masthead p, h4 {
    color: #ABA9A9;
}

.masthead h4 {
    font-weight: 400;
}

.masthead .ui.text.container {
    max-width: 500px;
}

.hidden.menu {
    display: none;
}

.masthead.segment {
    padding: 1em 0em;
    background-color: #190d3c !important;
}

.masthead .logo.item img {
    margin-right: 1em;
    max-width: 65%;
}

.item.logo.mobile-only {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo.item.mobile-only img {
    max-width: 85%;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

.ui.image.rounded {
    margin: 10px 0;
    border-radius: 10px;

}


.ui.vertical.segment {
    padding: 3em;
}

.ui.menu .item.logo > img:not(.ui) {
    width: 18em;
    max-width: 100%;
    margin: auto;
}

h4.ui.tagline {
    padding-top: 1em;
    float: right;
}

.ui.inverted.menu {
    background-color: #190d3c;
}

.ui.inverted.segment {
    background-color: #190d3c;
}

.ui.list {
    font-size: 1.2em;
    text-align: left;

}

.ui.list > .item {
    line-height: 1.4285em;
}

h4.ui.header {
    font-size: 1.5em;
    padding-top: 0;
    margin-top: 0;
}

.ui.fluid.image.footer-logo {
    max-width: 256px !important;
}

.mobile-only {
    display: none !important;
}


div.ui.divider {
    margin-top: 2.5em;
}

/*.hidden {*/
/*    display: none;*/
/*}*/

@media only screen and (max-width: 1023px) {

    .mobile-only {
        display: block !important;
    }

    .desktop-only {
        display: none !important;
    }

    .ui.container.desktop-only {
        display: none !important;
    }

    .ui.fixed.menu {
        display: none !important;
    }

    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }

    .secondary.pointing.menu .toc.item {
        display: block;
    }

    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }

    .ui.card, .ui.cards > .card {
        width: 100%;
    }

    .ui.vertical.segment {
        padding: 1em;
    }

    .item.logo {
        width: 100%;
    }
}



/* Screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* Button styling */
.menu-toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: rgba(255,255,255,.5);
    text-align: left;
    position: absolute;
    left: 1em;
    top: 1em;
}

.menu-toggle:hover,
.menu-toggle:focus {
    color: white;
}

#main-menu {
    background-color: #190d3c;
}
/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
    position: absolute;
    display: none;
    left: -200px;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transition: left 0.3s ease,
    box-shadow 0.3s ease;
    z-index: 999;
    background-color: #190d3c;
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
    -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
    box-shadow: -8px 0 8px rgba(0,0,0,.5);
    min-height: 100%;
    width: 200px;
    background: #190d3c;
}

.main-menu a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
}

.main-menu a:hover,
.main-menu a:focus {
    background: #333;
    text-decoration: underline;
}

.main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
}

.feature-image {
    max-width: 5rem;
    filter: invert(29%) sepia(50%) saturate(1224%) hue-rotate(9deg) brightness(95%) contrast(103%);
}
/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
    display: block;
    left: 0;
    outline: none;
    -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
}

/*
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background: rgba(0,0,0,.85);
    cursor: default;
}

@supports (position: fixed) {
    .main-menu,
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop{
        position: fixed;
    }
}